@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 255 255 255;
  --foreground: 15 23 42; /* slate-900 */

  --muted: 241 245 249;
  --muted-foreground: 100 116 139;

  --border: 226 232 240;
}

body {
  background-color: rgb(var(--background));
  color: rgb(var(--foreground));
}